.footer{
    position: static;
    width: 100%;
    height: 200px;
    background-color: black;
}

.container-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:stretch;
}

.text-footer{
    width: 100px;
    height: 100px;
    margin-top: 50px;
    /*background-color: aliceblue;*/
    ul{
        text-align: center;
        font-size: 15px;
        color: white;
        list-style: none;
    }
    & :hover{
        color: #c2ff05;
    }
    p{
        color: white;
        font-size: 13px;
        text-align: center;
        padding-top: 10px;
        text-align: center;
    }
}

